<a href="/">
           <img src="/logo.png" width=180 height=180 class="rounded shadow-lg border" style="border-width:3px!important; border-radius:25px !important"/>
</a>
<div class!important"c-moz-border-radius>
    <span style="color:white" class="mb-0 fs-3">B-Board</span>
    <br />
    <span style="color:white" class="fs-6">Online bulletin board</span>
</div>