<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="btn btn-primary btn shadow"><i class="fa fa-cog me-2"></i>Profile</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="btn btn-danger btn shadow ms-3">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login" class="btn btn-secondary btn shadow" role="button">Login</a>
        <a href="Identity/Account/Register" class="btn btn-success btn shadow" role="button">Register</a>
    </NotAuthorized>
</AuthorizeView>